
.icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem; //change 2.0
  margin: 0 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white;
  span{
  display: block;
  border-radius: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;  
  }
  &:hover span{
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem;
  }
  i {
  background: none;
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  left: 0;
  top:0;
  z-index: 10;
  line-height: 3.6rem;
  transition: all 0.3s;
  }
}

.twitter span{
  background-color: #4099ff;
}

.facebook span{
  background-color: #3B5998;
}

.gplus span{
  background-color: #db5a3c;
}

.instagram span{
  background-color: #517fa4;
}

.icon-button .fi-social-twitter{
  color: #4099ff;
}

.icon-button .fi-social-facebook{
  color: #3b5998;
}

.icon-button .fi-social-google-plus {
  color: #db5a3c;
}

.icon-button .fi-social-instagram {
  color: #517fa4;
}

.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus, .icon-button:hover .fi-social-instagram {
  color: white;
  font-size: 2.6rem;
  line-height: 3.9rem;
}
